<?xml version='1.0'?>
<Include>

    <Registry
        Root="HKLM"
        Key ="$(var.VSSafeImports)"
        Name=".NetMicroFramework_v2_0.01"
        Type ="string"
        Value ="[#$(var.IDDevice_tar)]"
        />

    <Registry
        Root="HKLM"
        Key="$(var.VSSafeImports)"
        Name=".NetMicroFramework_v2_0.02"
        Type="string"
        Value ="[#$(var.IDCSharp_tar)]"
        />

    <Registry
        Root="HKLM"
        Key="$(var.VSSafeImports)"
        Name=".NetMicroFramework_v2_0.03"
        Type="string"
        Value ="[#$(var.IDEmulator_tar)]"
        />

    <?ifdef INCLUDE_VB ?>
    <Registry
        Root="HKLM"
        Key="$(var.VSSafeImports)"
        Name=".NetMicroFramework_v2_0.04"
        Type="string"
        Value ="[#$(var.IDVisualBa_tar)]"
        />
    <?endif?>

</Include>
